In [10]:
import numpy as np
import pandas as pd

# GroupBy

In [11]:
data ={
    'Categories': ['A', 'B', 'A', 'B', 'A', 'B','A','B'],
    'store': ['store1', 'store1', 'store2', 'store2', 'store1', 'store2', 'store2', 'store1'],
    'sales': [100, 200, 150, 250, 300, 400, 350, 450],
    'Quatity': [10, 20, 15, 25, 30, 40, 35, 45],
    'Date':pd.date_range('2025-01-01', periods=8)
        
}
df = pd.DataFrame(data)

In [12]:
df

  Categories   store  sales  Quatity       Date
0          A  store1    100       10 2025-01-01
1          B  store1    200       20 2025-01-02
2          A  store2    150       15 2025-01-03
3          B  store2    250       25 2025-01-04
4          A  store1    300       30 2025-01-05
5          B  store2    400       40 2025-01-06
6          A  store2    350       35 2025-01-07
7          B  store1    450       45 2025-01-08

# Group by category and calculate the sum of the sales

In [13]:
category_sales = df.groupby('Categories')['sales'].sum()
category_sales

Categories
A     900
B    1300
Name: sales, dtype: int64

# Group by Store and calculate the sum of sales

In [14]:
store_sales = df.groupby('store')['sales'].sum()
store_sales

store
store1    1050
store2    1150
Name: sales, dtype: int64

# Group by Multiple columns
# Group by Category and store

In [15]:
mul_group = df.groupby(['Categories', 'store'])['sales'].sum()
mul_group

Categories  store
A           store1    400
            store2    500
B           store1    650
            store2    650
Name: sales, dtype: int64

# Aggregation

In [16]:
df['sales'].mean() # Average sales by mean

np.float64(275.0)

In [17]:
#check one by one each aggregation function

df['sales'].mode() # Mode of sales
df['sales'].sum() # Sum of sales
df['sales'].count() # Count of sales
df['sales'].min() # Minimum sales
df['sales'].max() # Maximum sales   
df['sales'].std() # Standard deviation of sales
df['sales'].var() # Variance of sales

15000.0

In [18]:
df['sales'].agg(['sum', 'mean', 'max', 'min', 'std', 'var', 'count', 'median', 'skew', 'kurt'])

sum        2200.000000
mean        275.000000
max         450.000000
min         100.000000
std         122.474487
var       15000.000000
count         8.000000
median      275.000000
skew          0.000000
kurt         -1.200000
Name: sales, dtype: float64